* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
  }

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2rem;
}

.homePage {
    background-image: url(./Images/image-asset.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 99vw;
    height: 30vh;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
}


.region {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.region-card {
    background-color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.region-card:hover {
    background-color: #bfdbfe;
    transform: scale(1.05);
}

.region img {
    width: 400px;
    height: 280px;

}

.city-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.city {
    width: 200px;
    height: 80px;
    text-align: center;
    border: 1px solid #000000;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.city:hover {
    background-color: rgba(0, 0, 0, 0.3);
    /* optional, if you want a hover effect */
}

@keyframes slideShow {
    0% {
        background-image: url(./Images/IBYxsMeJwaQBjoJfQVEaTQsNxb3tGT90MRW9MUgL.jpg);
    }

    33% {
        background-image: url(./Images/istockphoto-472119842-612x612.jpg);
    }

    66% {
        background-image: url(./Images/porto-main.avif);
    }

    100% {
        background-image: url(./Images/image-asset.jpeg);
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
}

.details-btn {
    background-color: #1e3a8a;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    text-decoration: none;
    margin: 10px;
    width: 100px;
}

.details-btn:hover {
    background-color: #bfdbfe;
}

.delete-btn {
    background-color: #ff0000;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-weight: 100;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    text-decoration: none;
    margin: 10px;
    width: 100px;
}

.Navbar button {
    background-color: white;
    color: #1e3a8a;
    padding: 8px 40px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    text-decoration: none;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.navbar-items {
    width: 99vw;
    display: flex;
    justify-content: space-between;
    background-color: #1e3a8a;
    padding: 0.5rem;
}

.create {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 10px;
    width: 98vw;
}

.searchBar {
    margin: 1rem;
}

.region-details {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.region-details-img {
    width: 99vw;
    height: 300px;
    object-fit: cover;
    object-position: 90% 49%;
}

.region-details h1 {
    color: #000000;
    font-family: 'Segoe UI', sans-serif;
    font-size: 3rem;
    margin: 0;
    margin-top: 10px;
}

.region-details-history {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
    width: 50vw;
    border: 3px solid black;
    padding: 1.5rem;
    border-radius: 15px;
}

.region-details-history h2 {
    color: #ff8800;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.7rem;
}

.region-details-history p {
    color: #696969;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

.region-details-food {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1.5rem;
    gap: 10px;
    padding: 1.5rem;
    border-radius: 15px;
    width: 90vw;
    margin-top: 20px;
}

.region-details-food h2 {
    color: #ff8800;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.7rem;
}

.region-details-food h3 {
    color: #696969;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1rem;
}

.region-details-food-recipes {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 25vw;
    padding: 1rem;
    gap: 10px;
}

.region-details-food-recipes img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.region-details-food-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 40px;
}

.region-details-visit {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 1.5rem;
    gap: 10px;
    padding: 1.5rem;
    border-radius: 15px;
    width: 90vw;
    margin-top: 20px;
}

.region-details-visit h2 {
    color: #ff8800;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.7rem;
}

.region-details-visit h3 {
    color: #696969;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1rem;
}

.region-details-visit-places {
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 25vw;
    padding: 1rem;
    gap: 10px;
}

.region-details-visit-places img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.region-details-visit-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 40px;
}

.edit-btn {
    background-color: #fffb00;
    color: black;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    width: 120px;
    text-align: center;
    font-size: 1.2rem;
}

.edit-btn-div {
    margin-top: 25px;
}