* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    font-family: 'Segoe UI', sans-serif;
}


h1 {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 2rem;
}

h2 {
    color: #ff8800;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.7rem;
}

h3 {
    color: #696969;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1rem;
}

nav {
    width: 99vw;
    display: flex;
    justify-content: space-evenly;
    background-color: #1e3a8a;
    padding: 0.5rem;
}

nav button {
    background-color: white;
    color: #1e3a8a;
    padding: 8px 40px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    text-decoration: none;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}

.about-section {
    background-color: #f9f9f9;
    color: #333;
    padding: 60px 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 70vh;
}

.about-section h1 {
    color: #1e3a8a;
}

.about-section h2 {
    font-size: 2.8rem;
    margin-bottom: 25px;
    font-weight: 700;
    color: #1a1a1a;
}

.homePage {
    background-image: url(./Images/M25XRH_2x1.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 99vw;
    height: 20vh;
    align-items: center;
    text-align: center;
    display: flex;              
    justify-content: center;  
    align-items: center;       
    text-align: center;
}

.homePage h1 {
    font-size: 55px;
    opacity: 1;
    color: #ffffff;
    padding: 0.5rem;
}


.region {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.region-card {
    background-color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.region-card:hover {
    background-color: #bfdbfe;
    transform: scale(1.05);
}

.region img {
    width: 400px;
    height: 280px;

}

.city-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.city {
    width: 300px;
    height: 80px;
    text-align: center;
    border: 1px solid #000000;
    margin: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 50vh;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.city:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.city h2 {
    color: #000000;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
}

.details-btn {
    background-color: #1e3a8a;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    text-decoration: none;
    margin: 20px 10px 10px 10px;
    width: 100px;
}

.details-btn:hover {
    background-color: #bfdbfe;
}

.delete-btn {
    background-color: #ff0000;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    font-size: 0.6rem;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    text-decoration: none;
    margin: 180px 10px 10px 10px;
    width: 70px;
}

.create {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 10px;
    width: 98vw;
}

.searchBar {
    margin: 1rem;
    text-align: center;
}

.searchBar-bar {
    border: 1px solid #000000;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 500;
    text-decoration: none;
    margin: 10px;
    width: 180px;
    text-align: center;
}

.region-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.region-details-img {
    width: 99vw;
    height: 300px;
    object-fit: cover;
    object-position: 90% 49%;
}

.region-details h1 {
    color: #000000;
    font-family: 'Segoe UI', sans-serif;
    font-size: 3rem;
    margin: 0;
    margin-top: 10px;
}

.region-details-history {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50vw;
    border: 3px solid black;
    padding: 1.5rem;
    border-radius: 15px;
}


.region-details-history p {
    color: #696969;
    font-family: 'Segoe UI', sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

.region-details-food {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 10px;
    padding: 1.5rem;
    border-radius: 15px;
    width: 90vw;
    margin-top: 20px;
}

.region-details-food-recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 1rem;
    gap: 10px;
}

.region-details-food-recipes img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.region-details-food-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.region-details-visit {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 10px;
    padding: 1.5rem;
    border-radius: 15px;
    width: 90vw;
    margin-top: 20px;
}


.region-details-visit-places {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    padding: 1rem;
    gap: 10px;
}

.region-details-visit-places img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.region-details-visit-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.region-details-restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    color: black;

    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 10px;
}

.edit-btn {
    background-color: #fffb00;
    color: black;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    width: 120px;
    text-align: center;
    font-size: 1.2rem;
}

.edit-btn-div {
    margin-top: 25px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Segoe UI', sans-serif;
    ;
}

.edit-form h4 {
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 10px;
}

.edit-form-cityName,
.edit-form-cityImage,
.edit-form-history {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.city-name,
.city-photo {
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
}

.city-history {
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
    height: 100px;
    resize: none;
    overflow-wrap: break-word;
    font-family: 'Segoe UI', sans-serif;
}

.edit-form-food,
.edit-form-places,
.edit-form-restaurants {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.city-food,
.city-places,
.city-restaurants {
    display: flex;
    align-items: center;
    gap: 10px;
}

.city-food-name,
.city-food-photo,
.city-places-name,
.city-places-photo,
.city-restaurants-name,
.city-restaurants-link,
.city-restaurants-rating {
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}

.remove-food-btn,
.remove-places-btn,
.remove-restaurants-btn {
    padding: 5px;
    background-color: #ff0000;
    color: white;
    border: none;
    width: 60px;
    border-radius: 4px;
    cursor: pointer;
}

.add-food-btn,
.add-places-btn,
.add-restaurants-btn {
    padding: 5px;
    background-color: #007c00;
    color: white;
    border: none;
    width: 90px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.update-city-btn {
    background-color: #b65303;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    text-decoration: none;
    margin: 10px;
    width: 100px;
    height: 50px;
}

.update-city-btn:hover {
    background-color: #bfdbfe;
}

.create-city-btn {
    background-color: #2403b6;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    text-decoration: none;
    margin: 10px;
    width: 140px;
    height: 50px;
}

.create-city-btn:hover {
    background-color: #bfdbfe;
}

.create-city-title {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
}

.edit-btn:hover {
    background-color: #bfdbfe;
}

.footer {
    background-color: #F9F7F7;
    padding: 1rem;
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    border-top: 1px solid #ddd;
    margin-top: 2rem;
}

.footer-links {
    display: flex;
    gap: 1.5rem;
}

@media (max-width: 1200px) and (min-width: 768px) {
    nav {
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
    }

    nav button {
        padding: 10px 24px;
        font-size: 1rem;
        margin: 8px 20px;
    }

    h1 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }

    .region {
        gap: 2rem;
    }

    .region-card {
        width: 300px;
        padding: 0.8rem;
    }

    .region img {
        width: 300px;
        height: 200px;
    }

    .city {
        width: 260px;
        padding: 1rem;
        min-height: 40vh;
        font-size: 0.95rem;
    }

    .buttons {
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }


    .region-details-img {
        height: 250px;
    }

    .region-details h1 {
        font-size: 2.2rem;
    }

    .region-details-history,
    .region-details-food,
    .region-details-visit {
        width: 80vw;
        padding: 1rem;
    }

    .region-details-history h2,
    .region-details-food h2,
    .region-details-visit h2 {
        font-size: 1.5rem;
    }

    .region-details-history p,
    .region-details-food h3,
    .region-details-visit h3 {
        font-size: 1rem;
    }

    .region-details-food-recipes,
    .region-details-visit-places {
        width: 40vw;
        padding: 0.8rem;
    }

    .region-details-food-recipes img,
    .region-details-visit-places img {
        width: 200px;
        height: 150px;
    }

    .edit-btn {
        font-size: 1rem;
        width: 100px;
    }

    .create {
        width: 90vw;
    }

    .searchBar {
        margin: 1rem auto;
        width: 90%;
    }
}


@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav button {
        width: 80%;
        margin: 10px auto;
        padding: 12px;
        font-size: 1rem;
    }

    .region {
        flex-direction: column;
        align-items: center;
    }

    .region-details-history,
    .region-details-food-recipes,
    .region-details-visit-places {
        width: 90vw;
    }

    .region-card {
        width: 90vw;
    }
}