h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #1e3a8a;
    margin-bottom: 2rem;
}

.region {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.region-card {
    background-color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.region-card:hover {
    background-color: #bfdbfe;
    transform: scale(1.05);
}

.region img {
    width: 400px;
    height: 280px;

}

.city-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.city {
    width: 350px;
    text-align: center;
    border: 1px solid #000000;
    margin: 1rem;
    background: linear-gradient(to bottom, #e0f2fe, #ffffff);
    min-height: 50vh;
    padding: 2rem;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

.city:hover {
    background-color: #bfdbfe;
    transform: scale(1.05);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details-btn {
    background-color: #1e3a8a;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    text-decoration: none;
    margin: 10px;
    width: 100px;
}

.delete-btn {
    background-color: #ff0000;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    text-decoration: none;
    margin: 10px;
    width: 100px;
}

.details-btn:hover {
    background-color: #bfdbfe;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1e3a8a;
    margin: 1rem;
}

.Navbar button {
    background-color: white;
    color: #1e3a8a;
    padding: 8px 40px;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: background-color 0.2s;
    text-decoration: none;
    margin: 10px;
    margin-left: 25px;
    margin-right: 25px;
}